.sharp-year-selector,
.sharp-month-selector {
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}

.sharp-spinner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 25px;
    height: 35px;
    background-color: #48A0CB;
    fill: #FFF;
    border-radius: 5px;
    border: 0;
}

.sharp-spinner-button:hover {
    background-color: #4DAAD8;
}

.sharp-spinner-button:active {
    background-color: #4496BE;
}

.sharp-year,
.sharp-month {
    flex-grow: 1;
    text-align: center;
}
