html, body, div {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

h2 {
    font-size: 16px;
}

.app {
    margin: 0;
    padding: 0;
}

.app .section {
    max-width: 400px;
    margin-bottom: 40px;
    padding: 0 20px;
}

.app .section > * {
    margin: 10px 0;
}

.app .section > .sharp-date-picker-wrapper {
    max-width: 250px;
}
